name: Update

permissions:
  contents: write
  pull-requests: write

on: 
  push:
    branches:
      - 'main'

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/create-github-app-token@v1
        id: generate-token
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_KEY }}

      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Run update
        run: python versioner.py update

      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v7
        with:
          commit-message: Update version
          author: github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>
          branch: update-version
          delete-branch: true
          title: '[Automated Workflow] Update version'
          token: ${{ steps.generate-token.outputs.token }}

      - name: Enable Pull Request Automerge
        if: steps.cpr.outputs.pull-request-operation == 'created'
        uses: peter-evans/enable-pull-request-automerge@v3
        with:
          pull-request-number: ${{ steps.cpr.outputs.pull-request-number }}
          merge-method: squash
          token: ${{ steps.generate-token.outputs.token }}
